body {
  
  width: 650px; 
  height: 600px; 
  margin : auto;
  text-align: center;
  background-image: url(https://thumbs.gfycat.com/OrdinaryHeartfeltAnchovy-max-1mb.gif), url(https://thumbs.gfycat.com/OrdinaryHeartfeltAnchovy-max-1mb.gif);
  background-position: left , right ;
  background-repeat: repeat-y, repeat-y;
background-color: lightgrey;
  
}

  #wrong-guesses {
    color: #e20909; 
    font-family:'Courier New', Courier, monospace; 
    font-size: 16px; 
    background-color: rgb(229, 247, 241);
  }

  #title {
font-size: 100px;
color: rgb(6, 0, 12);
text-decoration: underline;
text-decoration-color: orange;

  }

  #p  {
font-size: 20px;
color: rgb(0, 0, 0);


  }

  #rando-player
  {
font-size: 40px;

  }